body {
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.6;
  max-width: 600px;
  width: 90%;
  font-family: Georgia, serif;
}

small {
  display: block;
  float: right;
  margin: 1em 0;
  font-size: 0.5em;
  line-height: 1;
  color: grey;
}

img {
  float: right;
  max-width: 40%;
  margin-left: 1em;
  margin-bottom: 1em;
}

ul {
  padding-left: 0;
}

li {
  margin: 1em;
}

/* lol */
li li {
  margin: 0 1em;
  font-size: 0.8em;
}

h1, h2, h3, li li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3em;
  line-height: 0.8em;
}

h2 a, li li a  {
  text-decoration:none;
  color: black;
}

h2 a:hover, li li a:hover{
  text-decoration: underline;
}
